@import "tailwindcss";

@font-face {
  font-family: "JakartaSans";
  src: url("/font.ttf");
}

@layer base {
  * {
    font-family: "JakartaSans";
  }
  html {
    scroll-behavior: smooth;
    background-color: black;
  }
}

@layer components {
  .btn {
    @apply font-semibold rounded-full px-4 py-2 text-white bg-sky-500 disabled:opacity-70;
  }
  .btn-secondary {
    @apply font-semibold rounded-full px-4 py-2 text-white bg-zinc-800 disabled:opacity-70;
  }
}